<!-- Sign up page -->
<h1>Create an account</h1>
<form action="/signup" method="POST" class="form">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <button type="submit" class="button">Sign Up</button>
</form>
<p>Already have an account? <a href="/login">Log in here</a>.</p>
